# Force GitHub to recognize .nf files as Nextflow
*.nf linguist-language=Nextflow

# Ensure Dockerfile is highlighted properly
Dockerfile linguist-language=Dockerfile

# Force recognition of .sql files
*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.sql text
