params {
  samples = 1000
  seed = 42
  model_type = 'rf'
  outdir = 'output'
}

process {
  withName: GenerateData {
    container = 'python:3.9'
  }
  withName: TrainModel {
    container = 'python:3.9'
  }
}

docker.enabled = true

process {
  withName: GenerateData {
    container = 'pa-ml-pipeline' // image name after build
  }
  withName: TrainModel {
    container = 'pa-ml-pipeline'
  }
}
