params {
  samples = 1000
  seed = 42
  model_type = 'rf'
  outdir = 'output'
}

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'  
}

process {
  container = 'pa-ml-pipeline'  
  executor = 'local'            
  errorStrategy = 'retry'
  maxRetries = 2
  maxForks = 4
  memory = '2 GB'
  cpus = 1
}
